html {
    background-color: rgb(27, 27, 27);
    color: white ; 
}

#head{ /*resizing img for header element*/
    width: 300px;
    height: 200px;
    clear: both;
}

ul li {
    font-family: "Metal Mania", system-ui ;
    float: left; /*floats ul li to the left, in its own container*/
    display: block;
    margin-left: 140px;
    text-shadow: 5px 5px 5px black;
    
}

a {
    color: white;
}

a:hover {
    background-color: rgba(141, 141, 141, 0.3);
    cursor: pointer;

}

a:visited {
    color: rgb(255, 255, 255);
}

#news {
    text-align: center;
    margin-top: 80px;
}

h3 {
    text-align: center;
    
}



