html {
    background-color: rgb(27, 27, 27);
    color: white ; 
    text-shadow: 5px 5px 5px black; /*adds shadow to all text on the html element*/   
    display: flex;
    justify-content: center;
    align-items: center;
}


#head{ /*resizing img for header element*/
    width: 300px;
    height: 200px;
    clear: both;
}

ul li {
    font-family: "Metal Mania", system-ui ;
    float: left; /*floats ul li to the left, in its own container*/
    display: block;
    margin-left: 140px;
    text-shadow: 5px 5px 5px black;
    
}

a {
    color: white;
}

a:hover {
    background-color: rgba(141, 141, 141, 0.3);
    cursor: pointer;

}

a:visited {
    color: rgb(255, 255, 255);
}

#news {
    text-align: center;
    margin-top: 80px;
}

h4 {
    font-family: "Metal Mania", system-ui  ;
}

h3 {
    font-family: "Metal Mania", system-ui ;
    text-align: center;
    
}

h2 {
    font-family: "Metal Mania", system-ui ; /*google font family*/
    text-align: center;
}

aside {
    clear: both; /*allows so that any floated objects do not effect its placement*/
}
/*Note: Probably not the best method but each id is for an img of band member and section it is in*/
#vocal {
    width: 220px;

}

#guitar {
    width: 300px;

}
#bass {
    width: 220px;

}

#member1 {
    float: left;
    margin-left: 50px;
}

#member2 {
    float: left;
    margin-left: 50px;
}

#member3 {
    float: left;
    margin-left: 50px;
}

#table1 {
    clear: both;
}

#shop {
    float: left;
    margin-left: 400px;
}

#sticker {
    width: 250px;
}

th, td {
    font-family: "Metal Mania", system-ui ;
    border: 1px solid white;
    border-left: 2px;
    border-right: 1px;
    border-bottom: 1px;
}

#contact {
    clear: both;
}

.overright {
    padding-left: 420px;
}


