html {
    background-color: rgb(27, 27, 27);
    color: white ; 
}

#head{ /*resizing img for header element*/
    width: 300px;
    height: 200px;
    clear: both;
}

ul li {
    font-family: "Metal Mania", system-ui ;
    float: right; /*floats ul li to the right, in its own container*/
    display: block;
    padding-left: 10px;
    margin-right: 50px; 
    text-shadow: 5px 5px 5px black;
}
